
<div class="place-info">

    <!-- header / main details -->
    <header class="push-out">
        <h1>{{ object.name }}</h1>
        <div class="pure-g">
            <div class="pure-u-1 pure-u-sm-1-3">
                <strong>Email Address</strong>
                {{ object.email_address }}
            </div>
            <div class="pure-u-1 pure-u-sm-1-3">
                <strong>Telephone</strong>
                {{ object.telephone }}
            </div>
            <div class="pure-u-1 pure-u-sm-1-3">
                <strong>Website</strong>
                {{ object.website | map_format('<a href="%1$s">%1$s</a>') | join(', ') }}
            </div>
        </div>
    </header>

    <!-- image gallery -->
    <div class="place-image-gallery push-out">
        <div class="owl-carousel owl-theme">
            {% for image in object.image %}
                <div class="owl-item">
                    <img src="{{ image }}">
                </div>
            {% endfor %}
        </div>
    </div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js"></script>
    <script>
    jQuery(window).load(function () {
        jQuery('.owl-carousel').owlCarousel({
            loop: jQuery('.owl-item').length > 2,
            autoWidth: true,
            autoplay: true,
            autoplayTimeout: 2000
        });
    });
    </script>

    <!-- tabs of content -->
    <div class="place-tabs">
        <ul class="ui-tabs-nav push-out">
            {% if object.show_overview_tab %}
                <li><a href="#overview">Overview</a></li>
            {% endif %}
            {% if object.show_visitor_info_tab %}
                <li><a href="#visitor_info">Visitor Info</a></li>
            {% endif %}
        </ul>
        {% if object.show_overview_tab %}
            <div id="overview">{{ object.overview }}</div>
        {% endif %}
        {% if object.show_visitor_info_tab %}
            <div id="visitor_info">{{ object.visitor_info }}</div>
        {% endif %}
    </div>

    <!-- map -->
    <div class="iframe-container iframe-container-4-1 push-out">
    {{ object.location.entered_address | google_map }}
    </div>

    <script>
    // init tabs
    jQuery(function ($) {
        $('.place-tabs').tabs();
        $(".place-tabs, .place-tabs *").removeClass('ui-widget ui-widget-content ui-widget-header ui-tabs-panel');
    });
    </script>

    <!-- footer notes -->
    <footer>
        <p>Created: {{ object.created_at | date_ago }}</p>
    </footer>

    {{ msg }}

    <!-- reviews -->
    <h2>Reviews</h2>
    <p>Current rating: {{ object.userData.entries.rating | avg('value') | round }} <i class="fa fa-star"></i></p>
    <div>
        {% for rating in object.userData.entries.rating %}
        <div>
            {{ rating.value }} <i class="fa fa-star"></i>
            <small>: {{ rating.message ? rating.message : '<em>no added comment</em>' }}
                {% if rating.isCurrentSession %}<strong>(your review)</strong>{% endif %}
            </small>
        </div>
        {% endfor %}
    </div>

    {% if 'rating' not in object.userData.already_entered %}
    <form method="POST" action="{{ object.userData.endpoint }}">

        <input type="hidden" name="key" value="rating">

            {% for index in [1,2,3,4,5] %}
                <label>
                    <input type="radio" name="value" value="{{ index }}">
                    {{ index }} <i class="fa fa-star"></i>
                </label>
            {% endfor %}

        <p>
            <textarea name="message" placeholder="Any comments?"></textarea>
        </p>

        <p>
            <input type="submit" value="Vote">
        </p>

    </form>
    {% endif %}

</div>
